<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZARAToy - Homepage</title>
    <style>
        /* CSS styles for the homepage */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #f5f0f0;
            padding: 20px;
            text-align: center;
        }
        h1 {
            color: #10cc13;
        }
        .intro {
            max-width: 800px;
            margin: 20px auto;
            text-align: center;
        }
        .div-image{
            text-align: center;
        }
        .brand-image {
            height: 350px;
            width: 800px;
        }
        .toy-categories {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 20px 0;
        }
        .category-box {
            width: 200px;
            margin: 10px;
            padding: 10px;
            background-color: #f2f2f2;
            text-align: center;
            border-radius: 5px;
            text-decoration: none;
        }
        .category-box img {
            max-width: 100%;
            height: 90%;
            margin-bottom: 10px;
        }
        .category-box h3 {
            color: #333;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Paradise toy</h1>
    </header>

    <!-- Introduction section -->
    

    <!-- Brand image -->
    <div class="div-image">
        <img class="brand-image" src="https://rubee.com.vn/admin/webroot/upload/image//images/tin-tuc/zara-logo-2.jpg" alt="ZARAToy Brand Image">
    </div>

    <!-- Top-selling toy categories -->
    <section class="toy-categories">
        <a class="category-box" href="/car">
            <img src="https://linhanhkids.com/wp-content/uploads/2021/05/set-6-xe-canh-sat-lakids.jpg" alt="Car">
            <h3>Car</h3>
        </a>
        <a class="category-box" href="/doll">
            <img src="https://img.bestdealplus.com/ae01/kf/H4f5d540c2a9747f284d3dd99be96349dY.jpg" alt="Doll">
            <h3>Doll</h3>
        </a>
        <a class="category-box" href="/motobike">
            <img src="https://m.media-amazon.com/images/I/61U1-cR2XyL.__AC_SX300_SY300_QL70_FMwebp_.jpg" alt="Motobike">
            <h3>Motobike</h3>
        </a>
        <a class="category-box" href="/model">
            <img src="https://vn-test-11.slatic.net/p/ae6ca583f3e6cfa026630dd37ca1d49b.jpg" alt="Model">
            <h3>Model</h3>
        </a>
    </section>
</body>
</html>
