<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Manager</title>
    <style>
        .gallery-item {
            height: 70vh;  /* Chiều cao là một nửa màn hình */
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: flex-end; /* Căn chỉnh tên ở phía dưới */
            justify-content: center;
            color: white;
            font-size: 24px;
            text-shadow: 2px 2px 4px rgba(0,0,0,0.6); /* Tạo bóng cho chữ để dễ đọc hơn */
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <a href="/car/manager" class="col-lg-6 gallery-item" style="background-image: url('https://onetechvietnam.com/wp-content/uploads/2023/11/Ke-trung-bay-xe-mo-hinh-27.jpg');">
                Car
            </a>
            <a href="/doll/manager" class="col-lg-6 gallery-item" style="background-image: url('https://down-vn.img.susercontent.com/file/ef4e7b5a74ef2c9a6a8079a261184f51');">
                Doll
            </a>
            <a href="/motobike/manager" class="col-lg-6 gallery-item" style="background-image: url('https://m.media-amazon.com/images/I/81B5SLhvm3L._AC_SL1500_.jpg');">
                Motobike
            </a>
            <a href="/model/manager" class="col-lg-6 gallery-item" style="background-image: url('https://kilala.vn/data/upload/article/8670/bo-suu-tap-figure.jpg');">
                Model
            </a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
